services:
 db:
  image: mysql:latest
  container_name: db_1
  environment:
    MYSQL_ROOT_PASSWORD: root
  ports:
  - "3306:3306"
  volumes:
   - dbdata:/var/lib/mysql
 phpmyadmin:
  image: phpmyadmin/phpmyadmin
  container_name: pma_1
  links:
  - db
  environment:
    PMA_HOST: db
    PMA_PORT: 3306
  restart: always
  ports:
    - 8181:80
volumes:
  dbdata: